{
  "root": true,
  "extends": ["plugin:import/errors", "plugin:import/warnings", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [],
  "rules": {
    "prefer-const": "warn",
    "no-unused-vars": "warn"
  }
}
